packages
Plugins
**/obj/
**/bin/
*.suo
*.nupkg
*.dll
*.pdb
*.exe
*.config
!Duality.dll
!DualityEditor.exe
!DualityEditor.exe.config
!DualityPrimitives.dll
!NuGet.Core.dll
!VistaBridgeLibrary.dll
!Windows7.DesktopIntegration.dll
AdamsLair.WinForms.xml
DDoc.chm
Data/WorkingFolderIcon.ico
Data/desktop.ini
DesignTimeData.dat
Duality.xml
DualityEditor.xml
DualityPrimitives.dll
DualityPrimitives.xml
EditorUserData.xml
FarseerDuality.xml
NVorbis.XML
OpenTK.GLControl.xml
OpenTK.xml
logfile_editor.txt
logfile_editor_prev.txt
perflog_editor.txt
